# 5 Different functions of the String in Python

In [1]:
name="Rahul R Rigvedi"

In [2]:
name

'Rahul R Rigvedi'

In [6]:
name.split() #First string function

['Rahul', 'R', 'Rigvedi']

In [9]:
name.lower() #Second string function

'rahul r rigvedi'

In [12]:
name.endswith("R") #Third string function

False

In [15]:
name.endswith("Rigvedi")

True

In [22]:
name.replace("R","M") #Fourt string function

'Mahul M Migvedi'

In [24]:
name.swapcase() #Fifth string function

'rAHUL r rIGVEDI'

# 5 Differet functions of the List object in Python

In [54]:
lst=[2,2,4,6,8,"Engineer","LUStudent",1.1,2.2,3.3,4.4]

In [55]:
lst

[2, 2, 4, 6, 8, 'Engineer', 'LUStudent', 1.1, 2.2, 3.3, 4.4]

In [56]:
type(lst)

list

In [57]:
lst.reverse() #First list function

In [58]:
lst

[4.4, 3.3, 2.2, 1.1, 'LUStudent', 'Engineer', 8, 6, 4, 2, 2]

In [59]:
lst.remove("Engineer") #Second list function

In [60]:
lst

[4.4, 3.3, 2.2, 1.1, 'LUStudent', 8, 6, 4, 2, 2]

In [62]:
lst.count(2) #Third list function

2

In [63]:
lst.copy() #Fourth list function

[4.4, 3.3, 2.2, 1.1, 'LUStudent', 8, 6, 4, 2, 2]

In [64]:
 lst

[4.4, 3.3, 2.2, 1.1, 'LUStudent', 8, 6, 4, 2, 2]

In [66]:
lst.clear() #Fifth list function

In [67]:
lst

[]

# Experiment with atleast 5 default functions of Dict

In [70]:
dit={"Key":"Value","Key1":24,"Key2":31,"Key3":12}

In [71]:
dit

{'Key': 'Value', 'Key1': 24, 'Key2': 31, 'Key3': 12}

In [73]:
dit.copy() #First dict function

{'Key': 'Value', 'Key1': 24, 'Key2': 31, 'Key3': 12}

In [76]:
dit.pop("Key1") #Second dict function

24

In [77]:
dit

{'Key': 'Value', 'Key2': 31, 'Key3': 12}

In [83]:
dit.values() #Third dict function

dict_values(['Value', 31, 12])

In [84]:
dit.items() #Fourth dict function

dict_items([('Key', 'Value'), ('Key2', 31), ('Key3', 12)])

In [87]:
dit.clear() #Fifth dict function

In [86]:
dit

{}